20230912 Simplified VERDICT model/Test DICOMs/I0
20230912 Simplified VERDICT model/Test DICOMs/I0 (SURVEY).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I1
20230912 Simplified VERDICT model/Test DICOMs/I1 (T2 SAG REF CLEAR).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I2
20230912 Simplified VERDICT model/Test DICOMs/I2 (T2W_fast_TSE_ax_TRY).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I3
20230912 Simplified VERDICT model/Test DICOMs/I3 (SWITCH DB TO YES b3000_80).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I4
20230912 Simplified VERDICT model/Test DICOMs/I4 (b2000_vx1.3).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I5
20230912 Simplified VERDICT model/Test DICOMs/I5 (b1500_vx1.3).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I6
20230912 Simplified VERDICT model/Test DICOMs/I6 (b500_vx1.3).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I7
20230912 Simplified VERDICT model/Test DICOMs/I7 (b90_vx1.3).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I8
20230912 Simplified VERDICT model/Test DICOMs/I8 (32-echo).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I9
20230912 Simplified VERDICT model/Test DICOMs/I9 (DAB0mapWFS2).xlsx
output/output/res-2023-09-12T153806/rptverdict.pdf
output/output/res-2023-09-12T153806/rptverdict_FO/[Content_Types].xml
output/output/res-2023-09-12T153806/rptverdict_FO/bookmark.fo
output/output/res-2023-09-12T153806/rptverdict_FO/page-master.fo
output/output/res-2023-09-12T153806/rptverdict_FO/root.fo
output/output/res-2023-09-12T153806/rptverdict_FO/stylesheets/root.css
output/output/res-2023-09-12T154137/outputs.mat
output/output/res-2023-09-12T154137/rptverdict.pdf
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_014.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_014.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_014.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_014.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_014.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_001.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_002.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_003.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_004.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_005.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_006.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_007.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_008.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_009.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_010.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_011.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_012.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_013.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_014.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_001.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_002.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_003.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_004.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_005.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_006.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_007.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_008.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_009.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_010.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_011.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_012.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_013.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_014.dcm
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict.pdf
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/[Content_Types].xml
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/bookmark.fo
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/page-master.fo
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/root.fo
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/stylesheets/root.css
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/[Content_Types].xml
output/output/res-2023-09-12T153806/rptverdict_FO/[Content_Types].xml
ISMRM Submission/VERDICT outputs/BAR_003/Original/fIC.mat
ISMRM Submission/VERDICT outputs/BAR_004/Original/fIC.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/fEES.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/fIC.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/R.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/scheme.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/Y.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/fEES.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/fIC.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/R.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/scheme.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/Y.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/fEES.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/fIC.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/R.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/scheme.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/Y.mat
ISMRM Submission/ROIs/INN_129/lesion.npy
ISMRM Submission/fIC results/INN_129/L1/Original.npy
ISMRM Submission/fIC results/INN_129/NPZ/Original.npy
.gitignore
ISMRM Submission/ROIs/INN_129/L1.npy
ISMRM Submission/ROIs/INN_129/NPZ.npy
