20230912 Simplified VERDICT model/Test DICOMs/I0
20230912 Simplified VERDICT model/Test DICOMs/I0 (SURVEY).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I1
20230912 Simplified VERDICT model/Test DICOMs/I1 (T2 SAG REF CLEAR).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I2
20230912 Simplified VERDICT model/Test DICOMs/I2 (T2W_fast_TSE_ax_TRY).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I3
20230912 Simplified VERDICT model/Test DICOMs/I3 (SWITCH DB TO YES b3000_80).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I4
20230912 Simplified VERDICT model/Test DICOMs/I4 (b2000_vx1.3).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I5
20230912 Simplified VERDICT model/Test DICOMs/I5 (b1500_vx1.3).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I6
20230912 Simplified VERDICT model/Test DICOMs/I6 (b500_vx1.3).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I7
20230912 Simplified VERDICT model/Test DICOMs/I7 (b90_vx1.3).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I8
20230912 Simplified VERDICT model/Test DICOMs/I8 (32-echo).xlsx
20230912 Simplified VERDICT model/Test DICOMs/I9
20230912 Simplified VERDICT model/Test DICOMs/I9 (DAB0mapWFS2).xlsx
output/output/res-2023-09-12T153806/rptverdict.pdf
output/output/res-2023-09-12T153806/rptverdict_FO/[Content_Types].xml
output/output/res-2023-09-12T153806/rptverdict_FO/bookmark.fo
output/output/res-2023-09-12T153806/rptverdict_FO/page-master.fo
output/output/res-2023-09-12T153806/rptverdict_FO/root.fo
output/output/res-2023-09-12T153806/rptverdict_FO/stylesheets/root.css
output/output/res-2023-09-12T154137/outputs.mat
output/output/res-2023-09-12T154137/rptverdict.pdf
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_diverge_014.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_014.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_jet_mask_014.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_overlay_014.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_001.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_002.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_003.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_004.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_005.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_006.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_007.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_008.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_009.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_010.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_011.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_012.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_013.dcm
output/output/res-2023-09-12T154137/DICOM/fIC_withrescale_014.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_001.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_002.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_003.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_004.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_005.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_006.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_007.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_008.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_009.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_010.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_011.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_012.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_013.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b0_aligned_summed_014.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_001.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_002.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_003.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_004.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_005.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_006.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_007.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_008.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_009.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_010.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_011.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_012.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_013.dcm
output/output/res-2023-09-12T154137/DICOM/VERDICT_b2000_aligned_014.dcm
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict.pdf
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/[Content_Types].xml
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/bookmark.fo
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/page-master.fo
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/root.fo
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/stylesheets/root.css
20230912 Simplified VERDICT model/output/res-2023-09-14T134913/rptverdict_FO/[Content_Types].xml
output/output/res-2023-09-12T153806/rptverdict_FO/[Content_Types].xml
ISMRM Submission/VERDICT outputs/BAR_003/Original/fIC.mat
ISMRM Submission/VERDICT outputs/BAR_004/Original/fIC.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/fEES.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/fIC.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/R.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/scheme.mat
ISMRM Submission/VERDICT outputs/INN_129/No VASC/Y.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/fEES.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/fIC.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/R.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/scheme.mat
ISMRM Submission/VERDICT outputs/INN_129/Original/Y.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/fEES.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/fIC.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/R.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/scheme.mat
ISMRM Submission/VERDICT outputs/INN_129/Reduced Rs/Y.mat
ISMRM Submission/ROIs/INN_129/lesion.npy
ISMRM Submission/fIC results/INN_129/L1/Original.npy
ISMRM Submission/fIC results/INN_129/NPZ/Original.npy
.gitignore
ISMRM Submission/ROIs/INN_129/L1.npy
ISMRM Submission/ROIs/INN_129/NPZ.npy
ISMRM Submission/fIC_analysis.py
20230825 New VERDICT scheme simulation/Parameter choices/Figures/SphereSignal_BigDelta.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 8, b = 775.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 8, delta = 11.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 8, Delta = 16.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, b = 500.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, b = 775.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, delta = 17.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, Delta = 26.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, delta = 49.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, Delta = 60.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 12, b = 775.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 12, delta = 25.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 12, Delta = 38.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 8, b = 775.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 8, delta = 11.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 8, Delta = 16.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, b = 500.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, b = 775.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, delta = 17.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, Delta = 26.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, delta = 49.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, Delta = 60.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 12, b = 775.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 12, delta = 25.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 12, Delta = 38.png
20230825 New VERDICT scheme simulation/Optimising VERDICT scans.pptx
ISMRM Submission/ROIs/BAR_003/L1.npy
ISMRM Submission/ROIs/BAR_004/L1.npy
ISMRM Submission/ROIs/BAR_005/L1.npy
ISMRM Submission/ROIs/BAR_006/L1.npy
ISMRM Submission/ROIs/BAR_009/L1.npy
ISMRM Submission/ROIs/BAR_033/L1.npy
ISMRM Submission/ROIs/INN_019/L1.npy
ISMRM Submission/ROIs/INN_156/L1.npy
ISMRM Submission/ROIs/INN_209/L1.npy
ISMRM Submission/ROIs/INN_290/L1.npy
ISMRM Submission/fIC results/average_fIC_df.pickle
ISMRM Submission/fIC results/BAR_003/L1/Original.npy
ISMRM Submission/fIC results/BAR_004/L1/Original.npy
ISMRM Submission/fIC results/BAR_005/L1/Original.npy
ISMRM Submission/fIC results/BAR_006/L1/Original.npy
ISMRM Submission/fIC results/BAR_009/L1/Original.npy
ISMRM Submission/fIC results/BAR_033/L1/Original.npy
ISMRM Submission/fIC results/INN_019/L1/Original.npy
ISMRM Submission/fIC results/INN_129/L1/No VASC.npy
ISMRM Submission/fIC results/INN_156/L1/Original.npy
ISMRM Submission/fIC results/INN_209/L1/Original.npy
ISMRM Submission/fIC results/INN_290/L1/Original.npy
ISMRM Submission/VERDICT outputs/BAR_003/Original/fEES.mat
ISMRM Submission/VERDICT outputs/BAR_003/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/BAR_003/Original/R.mat
ISMRM Submission/VERDICT outputs/BAR_003/Original/scheme.mat
ISMRM Submission/VERDICT outputs/BAR_003/Original/Y.mat
ISMRM Submission/VERDICT outputs/BAR_004/Original/fEES.mat
ISMRM Submission/VERDICT outputs/BAR_004/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/BAR_004/Original/R.mat
ISMRM Submission/VERDICT outputs/BAR_004/Original/scheme.mat
ISMRM Submission/VERDICT outputs/BAR_004/Original/Y.mat
ISMRM Submission/VERDICT outputs/BAR_005/Original/fEES.mat
ISMRM Submission/VERDICT outputs/BAR_005/Original/fIC.mat
ISMRM Submission/VERDICT outputs/BAR_005/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/BAR_005/Original/R.mat
ISMRM Submission/VERDICT outputs/BAR_005/Original/scheme.mat
ISMRM Submission/VERDICT outputs/BAR_005/Original/Y.mat
ISMRM Submission/VERDICT outputs/BAR_006/Original/fEES.mat
ISMRM Submission/VERDICT outputs/BAR_006/Original/fIC.mat
ISMRM Submission/VERDICT outputs/BAR_006/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/BAR_006/Original/R.mat
ISMRM Submission/VERDICT outputs/BAR_006/Original/scheme.mat
ISMRM Submission/VERDICT outputs/BAR_006/Original/Y.mat
ISMRM Submission/VERDICT outputs/BAR_009/Original/fEES.mat
ISMRM Submission/VERDICT outputs/BAR_009/Original/fIC.mat
ISMRM Submission/VERDICT outputs/BAR_009/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/BAR_009/Original/R.mat
ISMRM Submission/VERDICT outputs/BAR_009/Original/scheme.mat
ISMRM Submission/VERDICT outputs/BAR_009/Original/Y.mat
ISMRM Submission/VERDICT outputs/BAR_033/Original/fEES.mat
ISMRM Submission/VERDICT outputs/BAR_033/Original/fIC.mat
ISMRM Submission/VERDICT outputs/BAR_033/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/BAR_033/Original/R.mat
ISMRM Submission/VERDICT outputs/BAR_033/Original/scheme.mat
ISMRM Submission/VERDICT outputs/BAR_033/Original/Y.mat
ISMRM Submission/VERDICT outputs/INN_019/Original/fEES.mat
ISMRM Submission/VERDICT outputs/INN_019/Original/fIC.mat
ISMRM Submission/VERDICT outputs/INN_019/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_019/Original/R.mat
ISMRM Submission/VERDICT outputs/INN_019/Original/scheme.mat
ISMRM Submission/VERDICT outputs/INN_019/Original/Y.mat
ISMRM Submission/VERDICT outputs/INN_156/Original/fEES.mat
ISMRM Submission/VERDICT outputs/INN_156/Original/fIC.mat
ISMRM Submission/VERDICT outputs/INN_156/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_156/Original/R.mat
ISMRM Submission/VERDICT outputs/INN_156/Original/scheme.mat
ISMRM Submission/VERDICT outputs/INN_156/Original/Y.mat
ISMRM Submission/VERDICT outputs/INN_209/Original/fEES.mat
ISMRM Submission/VERDICT outputs/INN_209/Original/fIC.mat
ISMRM Submission/VERDICT outputs/INN_209/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_209/Original/R.mat
ISMRM Submission/VERDICT outputs/INN_209/Original/scheme.mat
ISMRM Submission/VERDICT outputs/INN_209/Original/Y.mat
ISMRM Submission/VERDICT outputs/INN_290/Original/fEES.mat
ISMRM Submission/VERDICT outputs/INN_290/Original/fIC.mat
ISMRM Submission/VERDICT outputs/INN_290/Original/fVASC.mat
ISMRM Submission/VERDICT outputs/INN_290/Original/R.mat
ISMRM Submission/VERDICT outputs/INN_290/Original/scheme.mat
ISMRM Submission/VERDICT outputs/INN_290/Original/Y.mat
ISMRM Submission/Fitting Simulation/Figures/bias_results.png
ISMRM Submission/Fitting Simulation/Figures/rmse_results.png
ISMRM Submission/Fitting Simulation/Figures/variance_results.png
ISMRM Submission/Fitting Simulation/Figures/Constrained Fitting/bias_results.png
ISMRM Submission/Fitting Simulation/Figures/Constrained Fitting/parameter_sums.png
ISMRM Submission/Fitting Simulation/Figures/Constrained Fitting/rmse_results.png
ISMRM Submission/Fitting Simulation/Figures/Constrained Fitting/variance_results.png
ISMRM Submission/Fitting Simulation/Figures/fR fitting/1.png
ISMRM Submission/Fitting Simulation/Figures/fR fitting/2.png
ISMRM Submission/Fitting Simulation/Figures/fR fitting/3.png
ISMRM Submission/Fitting Simulation/Figures/fR fitting/4.png
ISMRM Submission/Fitting Simulation/Figures/fR fitting/5.png
ISMRM Submission/Fitting Simulation/Figures/fR fitting/6.png
ISMRM Submission/Fitting Simulation/Figures/fR fitting/7.png
ISMRM Submission/Fitting Simulation/Figures/fR fitting/8.png
ISMRM Submission/fIC results/BAR_017/L1/Original.npy
ISMRM Submission/fIC results/BAR_028/L1/Original.npy
ISMRM Submission/fIC results/BAR_035/L1/Original.npy
ISMRM Submission/fIC results/INN_087/L1/Original.npy
ISMRM Submission/fIC results/INN_099/L1/Original.npy
ISMRM Submission/fIC results/INN_109/L1/Original.npy
ISMRM Submission/ROIs/BAR_017/L1.npy
ISMRM Submission/ROIs/BAR_028/L1.npy
ISMRM Submission/ROIs/BAR_035/L1.npy
ISMRM Submission/ROIs/INN_087/L1.npy
ISMRM Submission/ROIs/INN_099/L1.npy
ISMRM Submission/ROIs/INN_109/L1.npy
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 8, b = 750 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 8, delta = 11 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 8, Delta = 16 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, b = 750 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, b = 1100 ADC = 0.0005.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, delta = 17 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, delta = 21 ADC = 0.0005.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, Delta = 26 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 10, Delta = 30 ADC = 0.0005.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 12, b = 750 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 12, delta = 25 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Sensitivity at R = 12, Delta = 38 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 8, b = 750 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 8, delta = 11 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 8, Delta = 16 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, b = 750 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, b = 1100 ADC = 0.0005.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, delta = 17 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, delta = 21 ADC = 0.0005.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, Delta = 26 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 10, Delta = 30 ADC = 0.0005.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 12, b = 750 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 12, delta = 25 ADC = 0.0008.png
20230825 New VERDICT scheme simulation/Parameter choices/Figures/grid search/Signal at R = 12, Delta = 38 ADC = 0.0008.png
